@model Reservation
@{
    ViewData["Title"] = "New";
}
    <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
<h2>Add new reservation</h2>

<hr />
<div class="col-md-4">
    <form asp-action="New">

        @*<div class="form-reservation" id="myForm1">
            <label for="BookGenres"><b>Books Genres</b></label>
            <select class="form-control dropdown" id="booksDropdown" name="booksDropdown" asp-for="bookGenre" asp-items="Model.BookGenres"></select>
            <span asp-validation-for="BookGenres" class="text-danger"></span>
            <br />
        </div>
        

        <div class="form-reservation" id="myForm2">
            <label for="BookNames"><b>Books Names</b></label>
            <select class="form-control dropdown" id="booksDropdownTitle" name="booksDropdownTitle" asp-for="BookId" asp-items="Model.BookNames"></select>
            <span asp-validation-for="BookNames" class="text-danger"></span>
            <br />
        </div>*@
        

        <div class="form-reservation" id="myForm1">
            <label asp-for="BookGenres" class="control-label"></label>
            <br />
            <select class="btn-primary" id="booksDropdownGenres" asp-for="bookGenre" asp-items="Model.BookGenres">
                <option value="All">Please select a genre</option>
            </select>
            <span asp-validation-for="BookGenres" class="text-danger"></span>

        </div>
        <br />

        <div class="form-reservation-selectlist" id="myForm2">
            <label asp-for="BookNames" class="control-label"></label>
            <br />
            <select class="btn-primary" id="booksDropdownTitle" name="booksDropdownTitle" asp-for="BookId" asp-items="Model.BookNames" ></select>
            <br />
            <span asp-validation-for="BookNames" class="text-danger"></span>
        </div>
        <br />

        <div class="form-reservation">
            <label asp-for="ReservationDate" class="control-label"></label>
            <input asp-for="ReservationDate" class="form-control" maxlength="10" />
            <span asp-validation-for="ReservationDate" class="text-danger"></span>
        </div>
        <br />

        <div class="form-reservation">
            <label asp-for="ReturnDate" class="control-label"></label>
            <input asp-for="ReturnDate" class="form-control" />
            <span asp-validation-for="ReturnDate" class="text-danger"></span>
        </div>
        <br />

        <div class="form-reservation">
            <input id="submitBtn" type="submit" value="New" class="btn btn-primary" />
        </div>

        @*<div class="form-reservation">
            <input type="submit" value="Test" class="btn btn-primary" id="btnSubmit" />
        </div>*@

        <div class="form-reservation">
            <p>@ViewBag.ErrorMessage</p>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}